<section>
  <div class="card-slider-container">
    <div class="card-slider" #cardSlider >
      <div class="card" *ngFor="let cardData of cardDataArray; let i = index" #card >
        <div class="card-body">
          <img [src]="cardData.imageSrc" alt="Coming Soon!">
          <p>card {{ 1 + i }}</p>
        </div>
      </div>
    </div>
  
    <button class="control-btn left" (click)="prevCard()">
      <i class="fas fa-chevron-left fa-xl"></i>
    </button>
    <button class="control-btn right" (click)="nextCard()">
      <i class="fas fa-chevron-right fa-xl"></i>
    </button>
   </div> 
</section>
