.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;


}

.card {
    border: 1px solid #000000;
    border-radius: 8px;
    margin-inline: 30px;
    padding: 10px;
    display: flex;
    gap: 5px;
    width: 100%;
    overflow-wrap: break-word;
}


.card>div:nth-child(2) {
    width: 100%;
}

.card-image {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    object-fit: cover;
}

.card-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.price {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    gap: 10px;
    column-gap: 0px;
}

.card-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.product-description {
    opacity: 0.9;
}

.stock-availability {
    color: rgb(0, 194, 26);
    font-size: 0.8rem;
    font-weight: 600;
}


.card-action {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
    width: 20%;
}

.card-action>div:nth-child(1) {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.qty-action {
    display: flex;
    border: solid 0.5px rgb(228, 228, 228);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.qty-action>div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.qty-down:hover {
    cursor: pointer;
    color: aqua;
}

.qty-up:hover {
    cursor: pointer;
    color: aqua;
}

.delete-action {
    display: flex;
    border: solid 0.5px rgb(228, 228, 228);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.delete-action>div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}


.price label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-info {
    flex: 1;
}



@media screen and (min-width: 300px)and (max-width: 600px) {
    /* .card-details {
        display: flex;
        flex-wrap: wrap;
    } */

}