<body>
    <div class="checkout-container">
        <div class="card-header">
            <div>
                <h1>Card Checkout!</h1>
            </div>
            <div class="header-price">
                <h2>Price &nbsp;Subtotal (1 Item):   ₹999.00</h2>
            </div>
        </div>
        <div class="card" *ngFor="let card of myCardList; let i = index">
            <div class="card-image">
                <img class="img" [src]="basePath+card.categoryImgSrc" alt="Comming Soon!" (click)="viewCard($event, card)">
            </div>
            <div>
                <div class="card-details">
                    <div class="card-info">
                        <p><strong>{{card.categoryName}}</strong></p>
                        <p class="product-description">{{card.description}}
                        <p class="stock-availability">Stock Available: {{card.stockQuantity}}</p>
                    </div>
                    <div class="price"><label for="">
                            <strong>₹{{card.price}}&nbsp;&nbsp;</strong> <input type="checkbox"></label>
                    </div>
                </div><br>
                <div class="card-action">
                    <div>
                        <div class="qty-action">
                            Qty:&nbsp;&nbsp;1&nbsp;&nbsp;
                            <div>
                                <i class="fa-solid fa-caret-up fa-3xl qty-up" ></i>
                                <i class="fa-solid fa-caret-down fa-3xl qty-down"></i>
                            </div>
                        </div>
                        <div class="delete-action" (click)="cardDelete($event,card)">&nbsp;&nbsp;
                            <div >
                                <i class="fa-solid fa-trash-can fa-lg " ></i>
                            </div>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div>
                <button>Proceed to Checkout</button>
            </div>
            <div class="footer-price" >
                <h2>Price &nbsp;Subtotal (1 Item):   ₹999.00</h2>
            </div>
        </div>

    </div>


</body>