<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your E-commerce Store</title>
    <!-- Add your CSS and JavaScript links here -->
</head>

<body>

    <section>
        <app-navebar [myCard]="myCard"></app-navebar>
    </section>
    <main>
        <app-page-content (addCardClicked)="addToMyCard($event)"></app-page-content>




    <!-- <section class="hero">
        <app-hero-carousel></app-hero-carousel>
    </section>
        <section class="category-items">
        <app-card-carousel (categoryCardClicked)="onCategoryClicked($event)"></app-card-carousel>
    </section>
    <section class="featured-products">
        <ng-container *ngIf="requestCard !== undefined && requestCard.length!==0; else noDataBlock">
            <app-category-card-list [requestCard]="requestCard"
                (cardClicked)="onCardClicked($event)" (addCardClicked)="addToMyCard($event)"></app-category-card-list>
        </ng-container>
        <ng-template #noDataBlock>
            <app-category-card-list (cardClicked)="onCardClicked($event)" (addCardClicked)="addToMyCard($event)"></app-category-card-list>
        </ng-template>
    </section> -->
    <router-outlet></router-outlet>
</main>

    <footer><br><br>
        <app-sitemap></app-sitemap>
    </footer>

    <section class="featured-products">
        <!-- Additional featured products or trending items go here -->
        <!-- <p>featured-products</p> -->
    </section>

    <!-- Add your JavaScript scripts here -->
    
</body>

</html>