<h1>{{cardListTitle}}</h1>

<div class="cards-container">
  
    <div class="card" *ngFor="let cardData of cardList; let i = index" (click)="viewCard($event, cardData, i)">
  
      <div class="card-content">
        <div class="card-img ">
          <img [src]="cardData.imageSrc" alt="Comming Soon!">
        </div>
        <div class="card-title ">
          <h2>{{ cardData.title }}</h2>
        </div>
        <div class="card-description ">{{cardData.description}}</div>
        <div class="card-price ">₹{{cardData.price}}</div>
        <div class="card-rating ">
          <i class="fa-solid fa-star" *ngFor="let _ of [].constructor(cardData.stars).fill(0); let i = index"></i>
        </div>
        <div class="card-location ">{{ cardData.location }}</div>
        <button class="card-btn" (click)="addCard($event,cardData)">Add to Cart</button>
      </div>
  </div>
  <div>
  </div>
</div>