<h1>{{cardListTitle}}</h1>

<div class="cards-container">
  
    <div class="card" *ngFor="let cd of categoryDetails; let i = index" (click)="viewCard($event, cd, i)">
  
      <div class="card-content">
        <div class="card-img ">
          <img [src]="basePath+cd.categoryImgSrc" alt="Comming Soon!">
        </div>
        <div class="card-title ">
          <h2>{{ cd.categoryName }}</h2>
        </div>
        <div class="card-description ">{{cd.description}}</div>
        <div class="card-price ">₹{{cd.price}}</div>
        <div class="card-rating ">
          <i class="fa-solid fa-star" *ngFor="let _ of [].constructor(5).fill(0); let i = index"></i>
        </div>
        <div class="card-location ">location</div>
        <button class="card-btn" (click)="addCard($event,cd)">Add to Cart</button>
      </div>
  </div>
  <div>
  </div>
</div>