<h1 style="margin-left: 12%; font-size: 2rem;">Card details</h1>
<div class="category-details-container">

  <div class="slider-container">
    <div #slider class="slider" [style.transform]="'translateX(' + (-counter * 100) + '%)'">
      <img *ngFor="let image of categoryDetailsImgSrc" [src]="basePath+image.cDetailsImgSrc"
        [alt]="image.cDetailsImgSrc">
    </div>
    <div class="indicators">
      <div *ngFor="let image of categoryDetailsImgSrc; let i = index" (click)="goToSlide(i)">
        <img [src]="basePath+image.cDetailsImgSrc" [alt]="image.cDetailsImgSrc" [class.active]="i === counter">
      </div>
    </div>
    <button class="control-btn left" (click)="prevSlide()">
      <i class="fas fa-chevron-left fa-xl"></i>
    </button>
    <button class="control-btn right" (click)="nextSlide()">
      <i class="fas fa-chevron-right fa-xl"></i>
    </button>
  </div>
  <div class="category-details" *ngFor="let cd of categoryDetails">
    <div class="flex-item category-description">
      <h1>{{cd.categoryName}}:</h1>
      <p>{{cd.description}}</p>
    </div>
    <div class="flex-item category-rating-pricing">
      <p class="card-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
          class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
      <p><strong>MRP:</strong> ${{cd.mRP}}</p>
      <p><strong>Pricing:</strong> ${{cd.price}}</p>
      <p><strong>incl. GST:</strong> ${{cd.gST}}</p>
      <p class="discount"><strong>Discount:</strong> {{cd.discount}}</p>
    </div>
    <div class="flex-item category-about">

      <h2>About this item</h2>
      <ul>
        <li>Tea Form &nbsp;&nbsp;{{cd.teaForm}}</li>
        <li>Specification &nbsp;&nbsp;{{cd.specification}}</li>
        <li>Flavor &nbsp;&nbsp;{{cd.flavour}}</li>
        <li>Tea Type &nbsp;&nbsp;{{cd.teaType}}</li>
        <li>Package Type &nbsp;&nbsp;{{cd.packageType}}</li>
        <li>Shelf Life &nbsp;&nbsp;{{cd.shelfLife}}</li>
        <li>Net Quantity &nbsp;&nbsp;{{cd.netQuantity}}</li>
        <li>Added Extracts &nbsp;&nbsp;{{cd.addedExtracts}}</li>
      </ul>
    </div>
    <div>
      <button class="card-btn" (click)="addCard($event)">Add to Cart</button>
    </div>
  </div>
</div>