<section>
    <h1>All Top Categories Tea deals</h1>
            <div class="cards-container" #shoppingContainer>
                <div class="card" *ngFor="let pDTO of productDTO; let i = index"
                    (click)="onCardClick($event, pDTO, i)">
                    <div class="card-content">
                        <div class="card-title ">
                            <h2>{{ pDTO.productName }}</h2>
                        </div>
                        <div class="card-img ">
                            <img [src]="basePath+pDTO.productImgSrc" alt="Comming Soon!">
                        </div>

                        <div class="card-description color">{{pDTO.productDesc}}</div>
                        <!-- <div class="card-price ">₹{{cl.price}}</div> -->
                        <!-- <div class="card-rating ">
                <i class="fa-solid fa-star"*ngFor="let _ of [].constructor(cl.stars).fill(0); let i = index"></i>
              </div> -->
                        <div class="card-location ">Location</div>
                        <!-- <button class="card-btn">Add to Cart</button> -->
                    </div>
                </div>

            </div>
            <div>
                <div class="button-container">
                    <button (click)="preScroll()" [disabled]="isPrevDisabled()" class="pre"><i
                            class="fas fa-chevron-left fa-xl"></i></button>
                    <button (click)="nextScroll()" [disabled]="isNextDisabled()" class="next"><i
                            class="fas fa-chevron-right fa-xl"></i></button>
                </div>
            </div>
</section>