<section>
    <!-- <app-navebar [myCard]="myCard"></app-navebar> -->
</section>

<section class="hero">
    <app-hero-carousel></app-hero-carousel>
</section>
<!-- <app-page-content></app-page-content> -->

<section class="category-items">
    <app-product-list (categoryCardClicked)="onCategoryClicked($event)"></app-product-list>
</section>
<section class="featured-products">
    <!-- <ng-container *ngIf="requestCard !== undefined && requestCard.length!==0; else noDataBlock"> -->
        <app-category-list [requestCard]="requestCard"
            (cardClicked)="onCardClicked($event)" (addCardClicked)="addToMyCard($event)"></app-category-list>
    <!-- </ng-container> -->
    <ng-template #noDataBlock>
        <app-category-list (cardClicked)="onCardClicked($event)" (addCardClicked)="addToMyCard($event)"></app-category-list>
    </ng-template>
</section>
